
<nav class="navbar navbar-expand-lg navbar-light bg-light">  
<a class="navbar-brand" href="/">CoinFlip</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Teams
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="teams/offense">Offense</a>
              <a class="dropdown-item" href="teams/defense">Defense</a>
            </div>
          </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Position
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="players/wr">Wide Receiver</a>
            <a class="dropdown-item" href="players/qb">Quarterback</a>
            <a class="dropdown-item" href="players/lb">Linebacker</a>
            <a class="dropdown-item" href="players/db">Defensive Back</a>
            <a class="dropdown-item" href="players/te">Tight End</a>
            <a class="dropdown-item" href="players/rb">Running Back</a>
            <a class="dropdown-item" href="players/ol">Offense Line</a>
            <a class="dropdown-item" href="players/dl">Defense Line</a>
            <a class="dropdown-item" href="players/kicker">Kicker</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/matchup">Match Ups</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
    </li>


    </ul>
</div>
</nav>